.t-center{
  text-align:center;
}
.head-top{
  background:#3190e8;
  position:fixed;
  z-index:100;
  top:0;
  left:0;
  width:100%;
  color:#fff;
  line-height:60px;
}
ul,li{
  list-style-type: none;
}

.bg-purple {
  background: #d3dce6;
}
.bg-purple-light {
  background: #e5e9f2;
}

.grid-content {

  min-height: 36px;
}
.foot-guide{
  background:#fff;
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  display:flex;
  border-top:1px solid rgba(0,0,0,0.4);
}
.foot-guide-item{
  width:50%;
}
a{
  text-decoration: none;
}
a:link{
  color:#303133;
}
a:visited{
  color:#303133;
}
.br{
  border-right:1px solid ;
}
.bb{
  border-bottom:1px solid #DCDFE6;
}
.welcome{
  font-size:3em;
}
.big-tab{
  padding:2em 0em;
  border-radius:4px;
  font-size:1.2em;
}
.middle-tab{
  padding:1.4em 0em;
  border-radius:4px;
  font-size:0.6em;
}
.mt1{
  margin-top:1em;
}
.p10{
  padding:10px 0px;
}
.list-title{
  font-size:1.2em;
  text-align: left;
  color:#606266;
}
.list-sub{
  font-size:0.6em;
  text-align: left;
  color:#909399;
}
a.view-more{
  color:#409EFF;
  font-size:0.8em;
}
.icon-back{
  height:60px;
  line-height:60px;
  position:absolute;
  left:20px;
  color:#fff;
  font-size:1.2em;
}

.center-vertical{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

